<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="umn.ac.id.week10_32864">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Week10_32864">
        <service
            android:name=".CustomBoundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".CustomService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Tutorial3" android:parentActivityName=".MainActivity" />
        <activity android:name=".Tutorial2" android:parentActivityName=".MainActivity"/>
        <activity android:name=".Tutorial1" android:parentActivityName=".MainActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".SimpleIntentService" />
    </application>

</manifest>